.about hr {
  border-top: 2px solid #ee5902;
  width: 50%;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

#about-div {
  /* background: linear-gradient(to right, #6bdb20 0%, #bd9c0c 100%); */
  /* background: linear-gradient(
    to right,
    rgb(107, 219, 32, 0.01) 0%,
    rgb(238, 89, 2, 0.7) 100%
  ); */
}

.about p {
  font-family: "Lato", sans-serif;
  /* Verdana, Serif; */
  font-size: 1.5em;
  color: white;
}

.about h1,
h2,
h3,
h4 {
  color: white;
  font-family: "Montserrat";
  font-size: 3.4em;
  /* Verdana, Serif; */
}
