.intro hr {
  border-top: 5px solid rgb(36, 114, 101);
  /* #6bdb20;
  rgb(238, 89, 2, 0.4), */
  width: 80%;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.intro h1,
h2,
h3,
h4 {
  color: white;
}

.intro p {
  font-family: "Lato", sans-serif;
  /* Verdana, Serif; */
  font-size: 1.5em;
}

.intro .exp p {
  font-family: "Lato", sans-serif;
  /* Verdana, Serif; */
  font-size: 1.5em;
}

.fa-code {
  color: rgb(255, 255, 255);
}

.fa-chrome {
  color: blue;
}

.git {
  color: black;
}

.fa-laptop {
  color: silver;
}

.fa-university {
  color: rgb(119, 119, 119);
}
.fa-book {
  color: rgb(155, 126, 87);
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
