.project p {
  font-family: "Lato", sans-serif;
  /* Verdana, Serif; */
  font-size: 1.5em;
  color: white;
}

.h1-project {
  color: white;
  font-family: "Redressed", cursive;
  font-size: 3.4em;
  /* Verdana, Serif; */
}

.card h1 {
  color: white;
  font-family: "Lato";
  font-size: 2em;
  /* Verdana, Serif; */
}
