a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.social h1 {
  color: rgb(107, 219, 32);
  /* #ee5902; */
}

.fa-envelope-square:hover,
.fa-envelope-square:focus,
.fa-envelope-square:active {
  text-decoration: none;
  color: rgb(156, 0, 0);
}

.fa-linkedin-square:hover,
.fa-linkedin-square:focus,
.fa-linkedin-square:active {
  text-decoration: none;
  color: rgb(40, 103, 178);
}

i:hover,
i:focus,
i:active {
  text-decoration: none;
  color: rgb(61, 61, 61);
}
