html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#situation {
  transform: translateY(20%);
}

/* color: rgb(36, 114, 101); */

.sticky-top + #rule1 {
  padding-top: 60px;
}

#maindiv {
  background-image: linear-gradient(
    /* or background */ to bottom right,
    rgb(107, 219, 32, 0.01),
    rgb(238, 89, 2, 0.2),
    rgb(238, 89, 2, 0.8)
  );
  background: black;
  max-width: 100%;
}

.silhouette {
  border: 2px solid rgb(36, 114, 101);
  box-shadow: -30px -30px 0px rgb(36, 114, 101);
  -moz-box-shadow: -30px -30px 0px rgb(36, 114, 101);
  -webkit-box-shadow: -30px -30px 0px rgb(36, 114, 101);
  -khtml-box-shadow: -30px -30px 0px rgb(36, 114, 101);

  /* -webkit-filter: contrast(0) sepia(100%) hue-rotate(190deg) saturate(2000%)
    brightness(100%);
  filter: contrast(0) sepia(100%) hue-rotate(195deg) saturate(2000%)
    brightness(100%);
  opacity: 1; */
}

/* #Footer {
  transform: translateY(2%);
}

#Social {
  transform: translateY(2%);
} */

.hide span {
  transform: translateY(0%);
  display: inline-block;
  /* animation: moveUp 1s linear; */
}
#siteTitle {
  position: relative;
  transform: translateX(9.1%) translateY(50%);
  font-family: "Redressed", cursive;
  opacity: 1;
  font-size: 6rem;
  z-index: 99;
  color: white;
}

#siteTitle1 {
  position: fixed;
  transform: translateX(19.7%) translateY(58%);
  font-family: "Redressed", cursive;
  opacity: 1;
  font-size: 6rem;
  z-index: 1000;

  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5 ease;
  background: black;
  overflow: hidden;
}

#titleName {
  transform: translateY(87%);
  display: inline-block;
  color: white;
}

#homeDown {
  position: relative;
  transform: translateX(14%) translateY(199%);
  opacity: 1;
  font-size: 3rem;
  z-index: 99;
  color: white;
}

.bounce {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  animation: bounce 4s infinite;
  -webkit-animation: bounce 4s infinite;
  -moz-animation: bounce 4s infinite;
  -o-animation: bounce 4s infinite;
  animation-delay: 4s;
}

#socialLinks {
  position: relative;
  transform: translateX(39%) translateY(-15%);
  opacity: 1;
  font-size: 3rem;
  z-index: 99;
  color: white;
}

#bgPic {
  display: block;
  position: relative;
  width: 100%;
  height: 600px;
  transform: translate(0%, 0%, 100%);
}

#bgPic2 {
  display: block;
  position: relative;
  width: 100%;
  height: 560px;
}

#bgPic2::before {
  content: "";
  background: url("../src/Images/5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

#bgPic::before {
  /* content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, #eaee44, #33d0ff);
  opacity: 0.5;
  z-index: 1; */

  content: "";
  opacity: 1;
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: skew(75deg) translateX(-124%);
  /* background-image: linear-gradient(120deg, #eaee44, #33d0ff); */
  /* background-image: linear-gradient(
    120deg,
    rgb(238, 89, 2, 1),
    rgb(36, 114, 101)
  ); */
  background-image: linear-gradient(100deg, rgb(0, 0, 0), #000000);
  z-index: 1;

  @supports (mix-blend-mode: hue) {
    opacity: 0.5;
    mix-blend-mode: color;
    mix-blend-mode: hard-light;
    mix-blend-mode: hue;
  }
}

#bgPic::after {
  content: "";
  opacity: 1;
  position: absolute;
  width: 90%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: skew(-45deg) translateX(44%); /*164 */
  /* background-image: linear-gradient(100deg, rgb(238, 89, 2, 1), #33d0ff); */
  background-image: linear-gradient(100deg, rgb(0, 0, 0), #000000);

  z-index: 2;
}

/* IF there is an overflow from childern outside the bounds of the bgPic it hides them */
#bgPic {
  overflow: hidden;
}

/* 
#bgPic > * {
  z-index: 100;
} */

.loader {
  border: 5px solid rgb(238, 89, 2, 0.8);
  border-radius: 50%;
  border-top: 5px solid rgb(36, 114, 101);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

#loading {
  transform: translateY(212%) translateX(10%);
}

#loadingText {
  transform: translateY(1000%);
  font-family: "Lobster Two", cursive;
  color: grey;
}

.section {
  background: rgb(0, 0, 0);
  z-index: -100;
}

.preload {
  /* opacity: 1; */
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5 ease;
  z-index: 100;
}

.preload-finnish {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5 ease;
  z-index: -100;
  pointer-events: none;
  animation: fadeOut 1s linear;
}

a[data-tool-tip] {
  position: relative;
}

a[data-tool-tip]::after {
  content: attr(data-tool-tip);
  display: block;
  position: absolute;
  background-color: gray;
  padding: 1em 3em;
  color: white;
  border-radius: 5px;
  font-size: 0.8em;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  transform: scale(0);
  transition: transform ease-out 150ms, bottom ease-out 150ms;
}

a[data-tool-tip]:hover::after {
  transform: scale(1);
  bottom: 100%;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(249%) translateX(14%);
  }
  50% {
    -webkit-transform: translateY(185%) translateX(14%);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 100;
  }

  50% {
    opacity: 0.8;
    z-index: 100;
  }

  80% {
    opacity: 0.2;
    z-index: 100;
  }

  99% {
    opacity: 0.01;
    z-index: 100;
  }

  100% {
    opacity: 0;
    z-index: -100;
  }
}
/* 
@-moz-keyframes bounce {
  0%,
  100% {
    -moz-transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-20px);
  }
}

@-o-keyframes bounce {
  0%,
  100% {
    -o-transform: translateY(0);
  }
  50% {
    -o-transform: translateY(-20px);
  }
} */

@keyframes bounce {
  0%,
  100% {
    transform: translateY(185%) translateX(14%);
  }
  15% {
    transform: translateY(249%) translateX(14%);
  }
  20% {
    transform: translateY(215%) translateX(14%);
  }
  23% {
    transform: translateY(249%) translateX(14%);
  }
  28% {
    transform: translateY(225%) translateX(14%);
  }
  30% {
    transform: translateY(249%) translateX(14%);
  }
  60% {
    transform: translateY(185%) translateX(14%);
  }
}

/* @-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(199%);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(20%);
  }
} */

@media (max-width: 575px) {
  .picOfMe {
    width: 20%;
    max-width: 100%;
    height: 20%;
    position: right;
  }

  .intro h1 {
    font-size: 2.4rem;
  }

  .intro p {
    font-size: 1.7rem;
  }

  .about p {
    font-size: 1.5em;
  }

  .about h1 {
    font-size: 3.4em;
  }
}

@media (max-width: 768px) {
  .picOfMe {
    width: 20%;
    max-width: 100%;
    height: 20%;
    position: right;
  }

  .intro h1 {
    font-size: 3rem;
  }

  .intro p {
    font-size: 2.4rem;
  }
}
@media (min-width: 769px) {
  .picOfMe {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: right;
  }
}
@media (min-width: 992px) {
  .picOfMe {
    width: 87%;
    max-width: 100%;
    height: 87%;
    position: right;
  }
}
